.wrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */
  border: 2px solid #000000;
  border-radius: 8px;
  overflow: hidden;
  gap: 20px;
  width: 300px;
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #e9e9e9;
}
.card {
  /* width: 30%; */
  /* overflow: hidden; */
  padding: 20px;
  /* box-shadow: 0 0 8px 10px lightgray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #faf7f7;
}
.image {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
}
/* .name {
  font-size: 24px;
  text-align: center;
} */

.nikname {
  font-size: 20px;
  color: #938787;
}

.location {
  font-size: 22px;
  color: #938787;
}

.wrapp {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  background-color: #cecdcd;
}

.partwrapp {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 30%;
  border-top: 2px solid #a49c9c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.value {
  font-weight: bold;
}

.borderwrapp {
  border-right: 2px solid #a49c9c;
  border-left: 2px solid #a49c9c;
}
