/* Загальні стилі для таблиці */
.table {
  width: 50%;
  border-collapse: collapse; /* Знімає подвійну рамку */
  margin: 0 auto;
}

/* Стилі для заголовку таблиці */
.th {
  background-color: #333; /* Колір фону заголовку */
  color: #fff; /* Колір тексту заголовку */
  font-weight: bold;
  padding: 12px 15px; /* Внутрішні відступи */
  text-align: center; /* Вирівнювання тексту */
}

/* Стилі для рядків таблиці */
.td {
  padding: 12px 15px; /* Внутрішні відступи */
  border: 2px solid black; /* Нижня межа для рядків */
}

.tdpadding {
  padding-left: 50px; /* Ліві відступи */
}

.tdcenter {
  text-align: center; /* Центрування */
}

/* Альтернативне виділення рядків */
.tr:nth-child(even) {
  background-color: #e9e9e9; /* Світлий фон для парних рядків */
}

.tr:nth-child(odd) {
  background-color: #fff; /* Фон для непарних рядків */
}

/* Стилі для ховер ефекту на рядках */
.tr:hover {
  background-color: #e9e9e9; /* Зміна фону при наведенні */
}

/* Стилі для першого стовпця (якщо потрібно) */
.td:first-child {
  font-weight: bold; /* Виділення першого стовпця */
}

/* Вирівнювання тексту по центру для числових стовпців */
.td.numeric {
  text-align: center;
}
